files:
  "/etc/filebeat/filebeat.yml":
    mode: "0755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
      - input_type: log
        paths:
          - /var/log/*.log
        json.message_key: event
        json.keys_under_root: true
        json.overwrite_keys: true
      output.logstash:
        hosts: ["172.16.0.164:5044"]

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-7.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"
