files:
  "/etc/filebeat/filebeat.yml":
    mode: "0755"
    owner: root
    group: root
    content: |
      filebeat.inputs:
        - type: log
          enabled: true
          paths:
	   - /var/log/*.log
      filebeat.config.modules:
        path: ${path.config}/modules.d/*.yml
        reload.enabled: false
      setup.template.settings:
        index.number_of_shards: 1
      setup.kibana:
      output.logstash:
        hosts: ["localhost:5044"]
      processors:
        - add_host_metadata:
          when.not.contains.tags: forwarded
        - add_cloud_metadata: ~
        - add_docker_metadata: ~
        - add_kubernetes_metadata: ~	
        
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-7.8.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"
